html { 
  background: url("images/bgimage2.png") no-repeat center bottom fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
overflow-y:hidden;
overflow-x:hidden;
}
#main{ 
  width: 71%;
  height: 71vh;
  border-radius: 10px;
  margin: auto;
  margin-top: 50px;
  overflow: hidden;
  white-space: nowrap;
}
.profile
{
background-color:white;
width:35%;
height:20vh;
margin:0 auto;
position:relative;
top:10vh;
}
img{
    height: 120px;
    width: 120px;
}
td{
   padding: 0px 41px 0px 30px;
}
#back{
   position: fixed;
   left:13%;
	top:45vh;
}
#back img,#fwd img{
	cursor:pointer;
	height:76px!important;
	width:23px!important;
	opacity:0.5!important;
	}
#previous:hover,#next:hover{
opacity:1!important;
}
#fwd img{
-webkit-transform:rotate(180deg);
}
#fwd{
   position: fixed;
   right:13%;
	top:45vh;
  z-index: 10000;
  text-align: right;
}
#down{
     margin: 0 auto;
//    background-color: rgba(65, 86, 197, 0.3);
     width: 100%;
//     border-radius: 20px;
 //    border-width: 3px;
  //   border-color:  rgba(72, 118, 255, 0.5);
 //   border-style: solid;
}
#ftr{
    margin: auto;
}
.down{
    padding: 5px 30px 5px 30px;
}
//img:hover {
  height: 85px;
  width: 85px;
}
#pag0{
   margin: -380px 0 0 1000px; 
}
#pag1{
   margin: -380px 0 0 2000px; 
}
#pag2{
   margin: -380px 0 0 3000px; 
}
.text:before{font-size:19px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.text
{
font-size:12px;
color:white;
text-decoration:none;
text-align:center;
position:relative;
bottom:5%;
}
@media screen and (max-width: 400px) {
#main{ 
  width: 100%; 
}
html
{
background-repeat: no-repeat;
}
}
@media screen and (min-device-width: 1400px){
#main{ 
  width: 75%!important; 
}
#fwd{right:10%;}
#back{left:10%;}
}
#searchpage
{
min-height:58vh;
}
#txtHint
{
background-color:white;
max-height:29vh;
overflow-x:hidden;
width:60%;
margin-left:10%;
}
#getdata
{
margin-left:10%;
width:80%;
height:20px;
font-size:18px;
}
.list
{
cursor:pointer;
height:20px;
}
.list:hover
{
background-color:gray;
}
#searchpage
{
position:relative;
top:10%;
}
.ul
{
list-style-type: none!important;
padding: 0px;
margin: 0px;
}
.fa-5x
{
  font-size: 15vh!important;
  margin-left: 2%;
  margin-top: 4%;
}
.pro
{
  padding: 0px!important;
  padding-left: 15px!important;
}
#card
{
  padding-top: 5px!important;
}
#pagesfooter {
  position: fixed;
  width: 100%;
  height: 20px;
  bottom: 124px;
  margin-left: -10px;
  overflow: hidden;
}
#pages {
  height: 20px;
  margin: auto;
  text-align: center;
}
#pages .circle.search {
  background-image: url(sIcon.png);
  background-color: transparent;
  background-size: 100% 100%;
  border-radius: 0;
  opacity: 0.6;
}
.circle {
  float: left;
}
.inactiveCricle {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  width: 7px;
  height: 7px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, .3);
  margin-right: 7px;
  overflow: hidden;
  cursor: pointer;
}
.activeCricle {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  width: 7px;
  height: 7px;
  border-radius: 4px;
  background-color: #fff;
  margin-right: 7px;
  overflow: hidden;
  cursor: pointer;
}

#searchbox {
  width: 800px;
  height: 30px;
  border: 0px solid;
  z-Index: 1000;
  margin-left: 100px;
  opacity: 0.9;
  margin-top: 30px;
}
form {
  display: block;
  margin-top: 0em;
}
#searchbox div {
  float: left;
}
.searchButton {
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  background-repeat: no-repeat;
  background-position: -112px -5px;
  border-right: 0;
  background-position: -112px -4px;
}
#searchinput {
  width: 730px;
  height: 30px;
}
#searchinput input {
  width: 100%;
  height: 28px;
  padding: 0;
  border: 1px solid #FFF;
  outline: none;
}
#searchclosebtn {
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-repeat: no-repeat;
  background-position: -10px -5px;
  border-left: 0;
}