.container-fluid{
    background-color: rgba(105, 89, 205, 0.4);
    background-image: url("http://free13k.com/server13/photos/2mXD0X6d3tW4_M~/142620_Nature-Wallpapers-2-Resolution-1366x768-HD_1366x768.jpg");
}

img{
    height: 110px;
	width: 110px;
	border-radius: 15px;
	padding: 10px;
  	margin: 7.5px 10px 7.5px 48px; 
}
#down{
     margin: 25px 0 10px 0; 
     background-color: rgba(65, 86, 197, 0.5);
     border-radius: 20px;
     border-width: 3px;
     border-color:  rgba(72, 118, 255, 0.8);
     border-style: solid;
}
#lft-ex{
     margin-left: -75px;
}
#lft-in{
     margin-left: -25px;
}
#rgt-ex{
     margin-left: 171px;
}
#rgt-in{
     margin-left: 121px;
}


img:hover {
    height: 110px;
	width: 110px;
	padding: 7.5px;
}
