html { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
overflow-y:hidden;
background-color:#ecf0f1;
overflow-x:hidden;
}
#main{ 
  width: 71%;
  height: 71vh;
  border-radius: 10px;
  margin: auto;
  margin-top: 50px;
  overflow: hidden;
  white-space: nowrap;
}
.profile
{
background-color: darkturquoise;
width:43%;
height:20vh;
margin-left:150px;
position:relative;
top:10vh;
}
#topBar {
    text-align: center;
}
.cloc {
    position: absolute;
    font-family: 'Helvetica Neue';
    color: #fff;
    font-size: 11.75pt;
    margin-top: -30px;
    margin-left:-40px;
  }
img{
    height: 120px;
    width: 120px;
}
td{
   padding: 0px 41px 0px 30px;
}
#back{
   position: fixed;
   left:13%;
	top:35vh;
}
#back img,#fwd img{
	cursor:pointer;
	height:76px!important;
	width:23px!important;
	opacity:0.5!important;
	}
#previous:hover,#next:hover{
opacity:1!important;
}
#fwd img{
-webkit-transform:rotate(180deg);
}
#fwd{
   position: fixed;
   right:13%;
	top:35vh;
  z-index: 10000;
  text-align: right;
}
#down{
     margin: 0 auto;
     width: 100%;
}
#ftr{
    margin: auto;
}
.down{
    padding: 5px 30px 5px 30px;
}
//img:hover {
  height: 85px;
  width: 85px;
}
#pag0{
   margin: -420px 0 0 1000px; 
}
#pag1{
   margin: -380px 0 0 2000px; 
}
#pag2{
   margin: -380px 0 0 3000px; 
}
.text:before{font-size:19px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.text
{
font-size:12px;
color:white;
text-decoration:none;
text-align:center;
position:relative;
bottom:5%;
}
@media screen and (max-width: 400px) {
#main{ 
  width: 100%; 
}
html
{
background-repeat: no-repeat;
}
}
@media screen and (min-device-width: 1400px){
#main{ 
  width: 75%!important; 
}
#fwd{right:10%;}
#back{left:10%;}
}
#txtHint
{
z-index:1000;
background-color:white;
max-height:29vh;
overflow-x:hidden;
width:60%;
margin-left:10%;
}
#getdata
{
margin-left:10%;
width:80%;
height:20px;
font-size:18px;
}
.list
{
cursor:pointer;
height:20px;
}
.list:hover
{
background-color:#ecf0f1;
}
#searchpage
{
position:relative;
top:10%;
}
.ul
{
list-style-type: none!important;
padding: 0px;
margin: 0px;
}
.fa-5x
{
  font-size: 15vh!important;
  margin-left: 2%;
  margin-top: 4%;
}
.pro
{
  padding: 0px!important;
  padding-left: 15px!important;
}
#card
{
  padding-top: 6px!important;
  font-size:16px;
  font-family: "Times New Roman", Times, serif;
}
#pagesfooter {
  position: fixed;
  width: 100%;
  height: 20px;
  bottom: 124px;
  margin-left: -10px;
  overflow: hidden;
}
#pages {
  height: 20px;
  margin: auto;
  text-align: center;
}
#pages .circle.search {
  background-image: url(images/sIcon.png);
  background-color: transparent;
  background-size: 100% 100%;
  border-radius: 0;
  opacity: 0.6;
}
.circle {
  float: left;
}
.inactiveCricle {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  width: 7px;
  height: 7px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, .3);
  margin-right: 7px;
  overflow: hidden;
  cursor: pointer;
}
.activeCricle {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  width: 7px;
  height: 7px;
  border-radius: 4px;
  background-color: #fff;
  margin-right: 7px;
  overflow: hidden;
  cursor: pointer;
}

#searchbox {
  min-height:58vh;
  border: 0px solid;
  z-Index: 1000;
  margin-left: 150px;
  opacity: 0.9;
  margin-top: 20px;
}
form {
  display: block;
  margin-top: 0em;
}
#searchbox div {
//  float: left;
}
#searchinput {
  width: 80%;
  height: 30px;
	background-color:white;
	border-radius:20px;
}
.fa-search{
padding:0 0 0 5px;
}
#searchinput input {
  width: 90%;
  height: 28px;
  padding: 0;
  border: 1px solid #FFF;
  outline: none;
}
.list
{
padding:2px 0 2px 2px;
}
@media screen and (max-width:400px)
{
#main{
width:100%;
height:71vh;
}
#main td{
padding:0px 5px 1vh 5px!important;
}
img{
height:55px!important;
width:55px!important;
}
#down td{
padding:0px 5px 0px 5px!important;
}
#down{
width:100%;
position:fixed!important;
bottom:0px!important;
}
#searchbox{
margin-left:auto;
margin-right:auto;
}
#searchinput{
width:75%;
margin:auto;
}
#pag0{
margin:-55vh 0 0 1000px;
}
#pag1{
margin:-30vh 0 0 2000px;
}
#pag2{
margin:-32vh 0 0 3000px;
}
}
